body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}


.navigation_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 7px 11px;
}

.navigation_container h1 {
    font-family: 'Limelight', sans-serif;
    font-size: 48px;
    font-style: normal;
    margin-left: 100px;
    text-shadow: 1px 1px;
    
}


.navigation_links{
    font-family: 'Limelight', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    gap: 40px;
    margin-right: 20px;
}

.navigation_links a{
    position: relative;
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
}

.navigation_links a:hover{
    color: rgba(27, 121, 48, 0.696);
}

.navigation_links a.active {
    border-bottom: 3px solid green;
}